/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Browse;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #e9e9e9;
	max-id: 3;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #67a3c7;
	font-size: 12px;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	font-family: Lato;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #e9e9e9;
	name: Body1;
	id: 1;
	font-size: 12px;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	font-family: Lato;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	font-size: 12px;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	font-family: Lato;
}


/* Cell Styles: */
 
.TableStyle-Browse
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #e9e9e9;
	border-bottom-width: 2px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-spacing: 0px 0px;
}

.TableStyle-Browse-Column-Column1
{
	
}

.TableStyle-Browse-Head-Header1
{
	
}

.TableStyle-Browse-HeadI-Column1-Header1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-HeadI-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadE-Column1-Header1
{
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Browse-HeadE-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadF-Column1-Header1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Browse-HeadF-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadH-Column1-Header1
{
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-HeadH-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadD-Column1-Header1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Browse-HeadD-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadC-Column1-Header1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-HeadC-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadB-Column1-Header1
{
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-HeadB-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadA-Column1-Header1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-HeadA-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-HeadG-Column1-Header1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	background-color: #67a3c7;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-HeadG-Column1-Header1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-Foot-Footer1
{
	
}

.TableStyle-Browse-FootI-Column1-Footer1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-FootI-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootE-Column1-Footer1
{
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Browse-FootE-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootF-Column1-Footer1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Browse-FootF-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootH-Column1-Footer1
{
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-FootH-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootD-Column1-Footer1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Browse-FootD-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootC-Column1-Footer1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-FootC-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootB-Column1-Footer1
{
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-FootB-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootA-Column1-Footer1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-FootA-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-FootG-Column1-Footer1
{
	text-align: left;
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Browse-FootG-Column1-Footer1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-Body-Body1
{
	
}

.TableStyle-Browse-BodyI-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
}

.TableStyle-Browse-BodyI-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyE-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 2px;
	border-bottom-color: #e9e9e9;
	border-bottom-style: solid;
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Browse-BodyE-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyF-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 2px;
	border-bottom-color: #e9e9e9;
	border-bottom-style: solid;
	text-align: left;
}

.TableStyle-Browse-BodyF-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyH-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Browse-BodyH-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyD-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 2px;
	border-bottom-color: #e9e9e9;
	border-bottom-style: solid;
	text-align: left;
}

.TableStyle-Browse-BodyD-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyC-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
}

.TableStyle-Browse-BodyC-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyB-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Browse-BodyB-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyA-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
}

.TableStyle-Browse-BodyA-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}

.TableStyle-Browse-BodyG-Column1-Body1
{
	font-family: Lato;
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
}

.TableStyle-Browse-BodyG-Column1-Body1 p
{
	font-family: Lato;
	font-size: 12px;
}


