/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 1.27cm;
		margin-right: 1.27px;
	}

	mcTableColumnStyle
	{
		cell-content-style-tag: none;
	}

	mcTableHeadStyle
	{
		cell-content-style-tag: none;
	}

	mcTableBodyStyle
	{
		cell-padding-left: 0px;
		cell-padding-right: 0px;
		cell-padding-top: 0px;
		cell-padding-bottom: 0px;
		text-align: left;
		cell-content-style-tag: none;
	}
}

mcTableStyle
{
	name: COINS;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0.5pt;
	border-left-color: #97999b;
	border-right-style: solid;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-top-style: solid;
	border-top-width: 0.5pt;
	border-top-color: #97999b;
	border-bottom-style: solid;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	max-id: 4;
	margin-left: 2.54cm;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5pt;
	separator-color: #97999b;
	name: Column1;
	id: 0;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: -1.0pt;
	separator-color: #97999b;
	name: Header1;
	id: 2;
	background-color: #97999b;
	text-align: center;
	font-size: 11pt;
	font-family: Calibri;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5pt;
	separator-color: #97999b;
	name: Body1;
	id: 1;
	font-size: 11pt;
	font-family: Calibri;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	size: 1px;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-COINS
	{
		margin-left: 1.27cm;
		margin-right: 1.27px;
		border-spacing: 0px 0px;
	}

	.TableStyle-COINS-BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINS-BodyG-Column1-Body1
	{
		text-align: left;
	}
}

.TableStyle-COINS
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #97999b;
	border-left-width: 0.5pt;
	border-right-style: solid;
	border-right-color: #97999b;
	border-right-width: 0.5pt;
	border-top-style: solid;
	border-top-color: #97999b;
	border-top-width: 0.5pt;
	border-bottom-style: solid;
	border-bottom-color: #97999b;
	border-bottom-width: 0.5pt;
	margin-left: 2.54cm;
	border-spacing: 0px 0px;
}

.TableStyle-COINS-Column-Column1
{
	
}

.TableStyle-COINS-Head-Header1
{
	
}

.TableStyle-COINS-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadE-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadH-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadB-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS-FootI-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-FootI-Column1- p
{
	
}

.TableStyle-COINS-FootE-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS-FootE-Column1- p
{
	
}

.TableStyle-COINS-FootF-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-FootF-Column1- p
{
	
}

.TableStyle-COINS-FootH-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS-FootH-Column1- p
{
	
}

.TableStyle-COINS-FootD-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-FootD-Column1- p
{
	
}

.TableStyle-COINS-FootC-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-FootC-Column1- p
{
	
}

.TableStyle-COINS-FootB-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS-FootB-Column1- p
{
	
}

.TableStyle-COINS-FootA-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-FootA-Column1- p
{
	
}

.TableStyle-COINS-FootG-Column1-
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-FootG-Column1- p
{
	
}

.TableStyle-COINS-Body-Body1
{
	height: 1px;
}

.TableStyle-COINS-BodyI-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-BodyI-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyE-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS-BodyE-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyF-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-BodyF-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyH-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS-BodyH-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyD-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-BodyD-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyC-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-BodyC-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyB-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS-BodyB-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyA-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-BodyA-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}

.TableStyle-COINS-BodyG-Column1-Body1
{
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS-BodyG-Column1-Body1 p
{
	font-family: Calibri;
	font-size: 11pt;
}


