/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 2.54cm;
	}

	mcTableColumnStyle
	{
		font-family: Calibri;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: COINS_LR_Simple;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0.5pt;
	border-left-color: #97999b;
	border-right-style: none;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-top-style: none;
	border-top-width: 0.5pt;
	border-top-color: #97999b;
	border-bottom-style: none;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	max-id: 4;
	margin-left: 5.00cm;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0.5pt;
	separator-color: #97999b;
	name: Column1;
	id: 0;
	cell-padding-left: 0cm;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	cell-content-style-tag: p;
	font-family: Calibri;
	size: 1px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: -1.0pt;
	separator-color: #97999b;
	name: Header1;
	id: 2;
	background-color: #97999b;
	text-align: center;
	font-size: 11pt;
	font-family: Calibri;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0.5pt;
	separator-color: #97999b;
	name: Body1;
	id: 1;
	font-size: 11pt;
	font-family: Calibri;
	text-align: left;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	size: 1px;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-COINS_LR_Simple
	{
		margin-left: 2.54cm;
		border-spacing: 0px 0px;
	}

	.TableStyle-COINS_LR_Simple-FootI-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootI-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootE-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootE-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootF-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootF-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootH-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootH-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootD-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootD-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootC-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootC-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootB-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootB-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootA-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootA-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootG-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-FootG-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyI-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyI-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyE-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyE-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyF-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyF-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyH-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyH-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyD-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyD-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyC-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyC-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyB-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyB-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyA-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyA-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyG-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR_Simple-BodyG-Column1-Body1 p
	{
		font-family: Calibri;
	}
}

.TableStyle-COINS_LR_Simple
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #97999b;
	border-left-width: 0.5pt;
	border-right-style: none;
	border-right-color: #97999b;
	border-right-width: 0.5pt;
	border-top-style: none;
	border-top-color: #97999b;
	border-top-width: 0.5pt;
	border-bottom-style: none;
	border-bottom-color: #97999b;
	border-bottom-width: 0.5pt;
	margin-left: 5.00cm;
	border-spacing: 0px 0px;
}

.TableStyle-COINS_LR_Simple-Column-Column1
{
	width: 1px;
}

.TableStyle-COINS_LR_Simple-Head-Header1
{
	
}

.TableStyle-COINS_LR_Simple-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadE-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS_LR_Simple-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS_LR_Simple-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadH-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS_LR_Simple-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadB-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR_Simple-FootI-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-FootI-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootE-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
}

.TableStyle-COINS_LR_Simple-FootE-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootF-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-FootF-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootH-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
}

.TableStyle-COINS_LR_Simple-FootH-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootD-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-FootD-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootC-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-FootC-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootB-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
}

.TableStyle-COINS_LR_Simple-FootB-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootA-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-FootA-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-FootG-Column1-
{
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-FootG-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-Body-Body1
{
	height: 1px;
}

.TableStyle-COINS_LR_Simple-BodyI-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-BodyI-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyE-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: none;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
}

.TableStyle-COINS_LR_Simple-BodyE-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyF-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: none;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-BodyF-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyH-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
}

.TableStyle-COINS_LR_Simple-BodyH-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyD-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: none;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-BodyD-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyC-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-BodyC-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyB-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: none;
}

.TableStyle-COINS_LR_Simple-BodyB-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyA-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-BodyA-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR_Simple-BodyG-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0cm;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR_Simple-BodyG-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}


