/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 2.54cm;
	}

	mcTableColumnStyle
	{
		font-family: Calibri;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: COINS_LR;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0.5pt;
	border-left-color: #97999b;
	border-right-style: solid;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-top-style: solid;
	border-top-width: 0.5pt;
	border-top-color: #97999b;
	border-bottom-style: solid;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	max-id: 4;
	margin-left: 5.00cm;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5pt;
	separator-color: #97999b;
	name: Column1;
	id: 0;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	cell-content-style-tag: p;
	font-family: Calibri;
	size: 1px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: -1.0pt;
	separator-color: #97999b;
	name: Header1;
	id: 2;
	background-color: #97999b;
	text-align: center;
	font-size: 11pt;
	font-family: Calibri;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5pt;
	separator-color: #97999b;
	name: Body1;
	id: 1;
	font-size: 11pt;
	font-family: Calibri;
	text-align: left;
	cell-padding-left: 1px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
	size: 1px;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-COINS_LR
	{
		margin-left: 2.54cm;
		border-spacing: 0px 0px;
	}

	.TableStyle-COINS_LR-FootI-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootI-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootE-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootE-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootF-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootF-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootH-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootH-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootD-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootD-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootC-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootC-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootB-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootB-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootA-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootA-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootG-Column1-
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-FootG-Column1- p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyI-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyI-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyE-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyE-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyF-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyF-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyH-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyH-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyD-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyD-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyC-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyC-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyB-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyB-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyA-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyA-Column1-Body1 p
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyG-Column1-Body1
	{
		font-family: Calibri;
	}

	.TableStyle-COINS_LR-BodyG-Column1-Body1 p
	{
		font-family: Calibri;
	}
}

.TableStyle-COINS_LR
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #97999b;
	border-left-width: 0.5pt;
	border-right-style: solid;
	border-right-color: #97999b;
	border-right-width: 0.5pt;
	border-top-style: solid;
	border-top-color: #97999b;
	border-top-width: 0.5pt;
	border-bottom-style: solid;
	border-bottom-color: #97999b;
	border-bottom-width: 0.5pt;
	margin-left: 5.00cm;
	border-spacing: 0px 0px;
}

.TableStyle-COINS_LR-Column-Column1
{
	width: 1px;
}

.TableStyle-COINS_LR-Head-Header1
{
	
}

.TableStyle-COINS_LR-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadE-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS_LR-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS_LR-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadH-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: -1pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
}

.TableStyle-COINS_LR-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadB-Column1-Header1
{
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #97999b;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Calibri;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-COINS_LR-FootI-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-FootI-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootE-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS_LR-FootE-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootF-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-FootF-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootH-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS_LR-FootH-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootD-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-FootD-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootC-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-FootC-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootB-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS_LR-FootB-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootA-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-FootA-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-FootG-Column1-
{
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-FootG-Column1- p
{
	font-family: Calibri;
}

.TableStyle-COINS_LR-Body-Body1
{
	height: 1px;
}

.TableStyle-COINS_LR-BodyI-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-BodyI-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyE-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS_LR-BodyE-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyF-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-BodyF-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyH-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS_LR-BodyH-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyD-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	border-bottom-width: 0.5pt;
	border-bottom-color: #97999b;
	border-bottom-style: solid;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-BodyD-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyC-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-BodyC-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyB-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0.5pt;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINS_LR-BodyB-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyA-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-BodyA-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}

.TableStyle-COINS_LR-BodyG-Column1-Body1
{
	font-size: 11pt;
	text-align: left;
	font-family: Calibri;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-COINS_LR-BodyG-Column1-Body1 p
{
	font-size: 11pt;
	font-family: Calibri;
}


