/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 0.50in;
	}

	mcTableColumnStyle
	{
		cell-content-style-tag: p;
		cell-content-style-class: TableCell;
		text-align: left;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		cell-content-style-class: TableCell;
		text-align: left;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		cell-content-style-tag: none;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: COINSBasicIndented;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #97999b;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #97999b;
	max-id: 4;
	margin-left: 0.0in;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	margin-bottom: 0.50em;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	type: Automatic;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #97999b;
	cell-content-style-tag: p;
	cell-content-style-class: TableHeader;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
	type: Automatic;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: SubHeader;
	type: Manual;
	vertical-align: bottom;
	size: 3em;
	separator-style: solid;
	separator-width: 1px;
	page-break-after: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #97999b;
	name: Footer1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-COINSBasicIndented
	{
		margin-left: 0.50in;
		border-spacing: 0px 0px;
	}

	.TableStyle-COINSBasicIndented-HeadI-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadE-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadF-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadH-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadD-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadC-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadB-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadA-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-HeadG-Column1-Header1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootI-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootE-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootF-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootH-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootD-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootC-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootB-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootA-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-FootG-Column1-Footer1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyG-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyI-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyE-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyF-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyH-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyD-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyC-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyB-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyA-Column1-SubHeader
	{
		text-align: left;
	}

	.TableStyle-COINSBasicIndented-BodyG-Column1-SubHeader
	{
		text-align: left;
	}
}

@media non-print
{
	.TableStyle-COINSBasicIndented
	{
		border-spacing: 0px 0px;
	}
}

.TableStyle-COINSBasicIndented
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #97999b;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #97999b;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #97999b;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #97999b;
	border-bottom-width: 1px;
	margin-left: 0.0in;
	margin-bottom: 0.50em;
	border-spacing: 0px 0px;
}

.TableStyle-COINSBasicIndented-Column-Column1
{
	
}

.TableStyle-COINSBasicIndented-Head-Header1
{
	
}

.TableStyle-COINSBasicIndented-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #97999b;
}

.TableStyle-COINSBasicIndented-HeadI-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-COINSBasicIndented-HeadE-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-COINSBasicIndented-HeadF-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #97999b;
}

.TableStyle-COINSBasicIndented-HeadH-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-COINSBasicIndented-HeadD-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #97999b;
}

.TableStyle-COINSBasicIndented-HeadC-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #97999b;
}

.TableStyle-COINSBasicIndented-HeadB-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #97999b;
}

.TableStyle-COINSBasicIndented-HeadA-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #97999b;
}

.TableStyle-COINSBasicIndented-HeadG-Column1-Header1 p
{
	
}

.TableStyle-COINSBasicIndented-Foot-Footer1
{
	
}

.TableStyle-COINSBasicIndented-FootI-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-FootI-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootE-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-COINSBasicIndented-FootE-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootF-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-COINSBasicIndented-FootF-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootH-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-FootH-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootD-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-COINSBasicIndented-FootD-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootC-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-FootC-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootB-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-FootB-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootA-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-FootA-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-FootG-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-FootG-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasicIndented-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-COINSBasicIndented-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-BodyI-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-BodyE-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-COINSBasicIndented-BodyF-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-BodyH-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-COINSBasicIndented-BodyD-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-BodyC-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-BodyB-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-BodyA-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasicIndented-BodyG-Column1-Body1 p
{
	
}

.TableStyle-COINSBasicIndented-Body-SubHeader
{
	height: 3em;
	page-break-after: avoid;
}

.TableStyle-COINSBasicIndented-BodyI-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
}

.TableStyle-COINSBasicIndented-BodyI-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyE-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-BodyE-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyF-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-COINSBasicIndented-BodyF-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyH-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-BodyH-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyD-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.TableStyle-COINSBasicIndented-BodyD-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyC-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
}

.TableStyle-COINSBasicIndented-BodyC-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyB-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-COINSBasicIndented-BodyB-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyA-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
}

.TableStyle-COINSBasicIndented-BodyA-Column1-SubHeader p
{
	
}

.TableStyle-COINSBasicIndented-BodyG-Column1-SubHeader
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
}

.TableStyle-COINSBasicIndented-BodyG-Column1-SubHeader p
{
	
}


