/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Note;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #97999b;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #97999b;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	type: Automatic;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #97999b;
	cell-content-style-tag: p;
	cell-content-style-class: NoteHeader;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
	type: Automatic;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #97999b;
	name: Footer1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
}


/* Cell Styles: */
 
.TableStyle-Note
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #97999b;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #97999b;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #97999b;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #97999b;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Note-Column-Column1
{
	
}

.TableStyle-Note-Head-Header1
{
	
}

.TableStyle-Note-HeadI-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-Note-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Note-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadF-Column1-Header1
{
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Note-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #97999b;
}

.TableStyle-Note-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadD-Column1-Header1
{
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Note-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadC-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-Note-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #97999b;
}

.TableStyle-Note-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadA-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-Note-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Note-HeadG-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-Note-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Note-Foot-Footer1
{
	
}

.TableStyle-Note-FootI-Column1-Footer1
{
	
}

.TableStyle-Note-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-Note-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-Note-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-Note-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootC-Column1-Footer1
{
	
}

.TableStyle-Note-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootA-Column1-Footer1
{
	
}

.TableStyle-Note-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Note-FootG-Column1-Footer1
{
	
}

.TableStyle-Note-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Note-Body-Body1
{
	
}

.TableStyle-Note-BodyI-Column1-Body1
{
	
}

.TableStyle-Note-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyC-Column1-Body1
{
	
}

.TableStyle-Note-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyA-Column1-Body1
{
	
}

.TableStyle-Note-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyG-Column1-Body1
{
	
}

.TableStyle-Note-BodyG-Column1-Body1 p
{
	
}


