/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: NoteIndent1;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #97999b;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #97999b;
	max-id: 3;
	margin-left: 0.50in;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	type: Automatic;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #97999b;
	cell-content-style-tag: p;
	cell-content-style-class: NoteHeader;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
	type: Automatic;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #97999b;
	name: Footer1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
}


/* Cell Styles: */
 
.TableStyle-NoteIndent1
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #97999b;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #97999b;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #97999b;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #97999b;
	border-bottom-width: 1px;
	margin-left: 0.50in;
	border-spacing: 0px 0px;
}

.TableStyle-NoteIndent1-Column-Column1
{
	
}

.TableStyle-NoteIndent1-Head-Header1
{
	
}

.TableStyle-NoteIndent1-HeadI-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-NoteIndent1-HeadI-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-NoteIndent1-HeadE-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadF-Column1-Header1
{
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-NoteIndent1-HeadF-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #97999b;
}

.TableStyle-NoteIndent1-HeadH-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadD-Column1-Header1
{
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-NoteIndent1-HeadD-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadC-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-NoteIndent1-HeadC-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-color: #97999b;
}

.TableStyle-NoteIndent1-HeadB-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadA-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-NoteIndent1-HeadA-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-HeadG-Column1-Header1
{
	background-color: #97999b;
}

.TableStyle-NoteIndent1-HeadG-Column1-Header1 p
{
	
}

.TableStyle-NoteIndent1-Foot-Footer1
{
	
}

.TableStyle-NoteIndent1-FootI-Column1-Footer1
{
	
}

.TableStyle-NoteIndent1-FootI-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-NoteIndent1-FootE-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-NoteIndent1-FootF-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteIndent1-FootH-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-NoteIndent1-FootD-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootC-Column1-Footer1
{
	
}

.TableStyle-NoteIndent1-FootC-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteIndent1-FootB-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootA-Column1-Footer1
{
	
}

.TableStyle-NoteIndent1-FootA-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-FootG-Column1-Footer1
{
	
}

.TableStyle-NoteIndent1-FootG-Column1-Footer1 p
{
	
}

.TableStyle-NoteIndent1-Body-Body1
{
	
}

.TableStyle-NoteIndent1-BodyI-Column1-Body1
{
	
}

.TableStyle-NoteIndent1-BodyI-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteIndent1-BodyE-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoteIndent1-BodyF-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteIndent1-BodyH-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-NoteIndent1-BodyD-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyC-Column1-Body1
{
	
}

.TableStyle-NoteIndent1-BodyC-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-NoteIndent1-BodyB-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyA-Column1-Body1
{
	
}

.TableStyle-NoteIndent1-BodyA-Column1-Body1 p
{
	
}

.TableStyle-NoteIndent1-BodyG-Column1-Body1
{
	
}

.TableStyle-NoteIndent1-BodyG-Column1-Body1 p
{
	
}


