/*<meta conditions="General.Unused Content" />*/

body
{
	color: #404040;
	font-family: Arial;
	font-size: 1em;
	line-height: 1.7em;
}

a
{
	color: #2d82dc;
}

a:link
{
	color: #2d82dc;
}

a:visited
{
	color: #2d82dc;
}

a:hover
{
	color: #BED230;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

blockquote
{
	background-color: #e1e1e1;
	background-image: url('../Images/QuotationMark.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: none;
	border-left-color: #b3b3b3;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #b3b3b3;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding-bottom: 0px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
}

blockquote.name
{
	background-image: none;
	border-bottom-color: #b3b3b3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
}

Div.GlossaryPageDefinition
{
	
}

Div.GlossaryPageHeading
{
	
}

Div.GlossaryPageTerm
{
	
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}

div.TightContent
{
	margin: 0px;
	padding: 0px;
	line-height: 1em;
}

h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 8px;
	margin-top: 20px;
	padding-bottom: 10px;
}

h1.Appendix
{
	
}

h1.UserGuideBHeading
{
	
}

h2
{
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 4px;
	margin-top: 16px;
}

img
{
	border: none;
}

.FiftyPercentMaxWidth
{
	max-width: 50%;
}

img.AbsolutePosition
{
	padding: 5px;
}

img.ReduceButtonSize
{
	max-height: 18px;
	max-width: auto;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-disabled: false;
	mc-open-image: url('../Images/DropDownOpen.png');
}

MadCap|dropDownBody
{
	border-bottom: solid 1px #bed230;
	mc-disabled: false;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0px;
}

MadCap|dropDownHead
{
	mc-disabled: false;
}

MadCap|dropDownHotspot
{
	color: #404040;
	font-size: 0.9em;
	font-weight: bold;
	mc-disabled: false;
}

MadCap|dropDownHotspot:hover
{
	color: #BED230;
	font-weight: bold;
}

MadCap|footnoteBlock
{
	
}

MadCap|footnotesBlock
{
	
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|miniTocProxy
{
	
}

MadCap|popup
{
	color: #2D8DCC;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

MadCap|tocProxy
{
	
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #BED230;
}

MadCap|xref.IndexPageNumber
{
	
}

ol
{
	list-style-image: none;
}

ol.LowerAlpha
{
	list-style-type: lower-alpha;
	margin-left: -10px;
}

ol.LowerRoman
{
	list-style-type: lower-roman;
	margin-left: -10px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
}

p.Copyright
{
	
}

p.CopyrightAddress
{
	
}

p.CopyrightHeading
{
	
}

p.CreatedUsingFlare
{
	
}

p.EmptyPageText
{
	
}

p.Example
{
	background-color: #bed230;
	border-bottom-color: #a4ac67;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-top: 0px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.ExampleHead
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #a4ac67;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	page-break-after: avoid;
}

p.ExampleMiddleSection
{
	background-color: #bed230;
	border-left-color: #a4ac67;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #a4ac67;
	border-right-style: solid;
	border-right-width: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
}

p.Figure
{
	
}

p.FirstPageOfChapter
{
	
}

p.FrameFooterText
{
	
}

p.FrameFooterText2
{
	
}

p.GlossaryPrintHead
{
	
}

p.IndexHeading
{
	
}

p.IndexPrintHead
{
	
}

p.ManualTitle1
{
	
}

p.ManualTitle2
{
	
}

p.ManualVersionNumber
{
	
}

p.MiniTOC1
{
	
}

p.note
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border: solid 1px #404040;
	border-radius: 6px;
	color: #b3b3b3;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
}

p.noteBottom
{
	background-color: #3e3e3e;
	border-bottom-color: #404040;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	color: #b3b3b3;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
}

p.noteMiddle
{
	background-color: #3e3e3e;
	border-bottom: 0px;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	color: #b3b3b3;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
}

p.noteTop
{
	background-color: #3e3e3e;
	background-image: url('../Images/NoteIcon.png');
	background-repeat: no-repeat;
	border-left-color: #404040;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #404040;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #404040;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #b3b3b3;
	margin-bottom: 0;
	mc-auto-number-format: '{b}{color #bed230}Note: {/color}{/b}';
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
}

p.TableCaption
{
	
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextHeadDark
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextLightEmphasis
{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TOCHeading
{
	
}

span.Emphasis
{
	font-weight: bold;
}

span.FigureNum
{
	
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

span.TableNum
{
	
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

tr
{
	
}

ul
{
	list-style-image: url('../Images/Misc/Bullet1.png');
}

ul.FirstLevelLessIndentation
{
	list-style-image: url('../Images/Misc/Bullet1.png');
	margin-left: -10px;
}

ul.SecondLevel
{
	list-style-image: url('../Images/Misc/Bullet2.png');
	margin-left: -10px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

html.templateTopic div.sideContent
{
	display: none;
}

@media print
{
	body
	{
		font-size: 8pt;
		margin: 8px;
		line-height: normal;
	}

	Div.GlossaryPageDefinition
	{
		color: #e1e1e1;
		font-size: 9pt;
	}

	Div.GlossaryPageHeading
	{
		border-bottom-color: #bed230;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #bed230;
		font-size: 11pt;
	}

	Div.GlossaryPageTerm
	{
		color: #bed230;
		font-size: 10pt;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	h1
	{
		background-color: transparent;
		border-bottom: none;
		margin-bottom: 20px;
		margin-left: 0;
		padding-left: 0px;
		padding-top: 0px;
		font-family: Calibri;
		font-weight: bold;
		font-style: normal;
		font-size: 20pt;
		line-height: normal;
		color: #53555a;
		mc-auto-number-format: 'CH:{chapnum} ';
	}

	h1.Appendix
	{
		mc-auto-number-format: 'APPENDIX ';
	}

	h1.UserGuideBHeading
	{
		page-break-before: avoid;
	}

	h2
	{
		line-height: 14pt;
		page-break-before: always;
		font-family: Calibri;
		font-weight: bold;
		font-style: normal;
		margin-top: 12pt;
		mc-auto-number-format: 'CH:{chapnum}.{n+} ';
		font-size: 16pt;
		color: #53555a;
	}

	h3
	{
		color: #F47322;
		font-weight: normal;
		line-height: 12pt;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n+} ';
		font-size: 14pt;
	}

	h4
	{
		font-size: 9pt;
		font-weight: normal;
		line-height: 11pt;
		mc-heading-level: 0;
	}

	img.FiftyPercentThumbnail
	{
		max-width: 50%;
	}

	img.OneHundredPercent
	{
		max-width: 100%;
	}

	img.OneHundredPercentThumbnail
	{
		max-width: 100%;
	}

	img.SeventyFivePercent
	{
		max-width: 75%;
	}

	img.SeventyFivePercentThumbnail
	{
		max-width: 75%;
	}

	MadCap|dropDown.SecondLevel
	{
		background-color: transparent;
		margin-left: 10px;
	}

	MadCap|dropDownBody
	{
		border-bottom: none;
	}

	MadCap|dropDownHead
	{
		margin-top: 16px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 8pt;
	}

	MadCap|footnoteBlock
	{
		font-size: 7pt;
	}

	MadCap|footnotesBlock
	{
		border-top-color: #bed230;
	}

	MadCap|glossaryProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|indexProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|miniTocProxy
	{
		border-top-width: 0px;
		margin-left: 0.25in;
		margin-right: 0.25in;
		padding-left: 0px;
	}

	MadCap|tocProxy
	{
		border-top: none;
		margin-right: 0.25in;
		font-size: 11pt;
		font-family: Calibri;
		color: #000000;
	}

	MadCap|xref
	{
		color: #404040;
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
	}

	MadCap|xref.IndexPageNumber
	{
		color: #BED230;
	}

	ol.LowerAlpha
	{
		margin-left: 30px;
	}

	ol.LowerRoman
	{
		margin-left: 30px;
	}

	p
	{
		font-size: 11pt;
		margin-left: 1.27cm;
		margin-top: 12pt;
		margin-bottom: 4pt;
		font-family: Calibri;
		color: #000000;
		text-align: left;
	}

	p.Copyright
	{
		margin-bottom: 8px;
		margin-top: 8px;
	}

	p.CopyrightAddress
	{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	p.CopyrightHeading
	{
		margin-top: 1in;
		page-break-before: always;
	}

	p.CreatedUsingFlare
	{
		font-weight: bold;
		margin-top: 18px;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.Figure
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: FigureNum;
		mc-auto-number-format: 'CF:Figure {chapnum}-{n+} ';
		margin-left: 10px;
		padding-bottom: 10px;
	}

	p.FirstPageOfChapter
	{
		color: #000000;
	}

	p.FrameFooterText
	{
		font-family: 'Century Gothic';
		font-size: 24pt;
	}

	p.FrameFooterText2
	{
		color: #404040;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	p.GlossaryPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.IndexHeading
	{
		font-size: 11pt;
		padding-top: 16px;
		text-align: left;
	}

	p.IndexPrintHead
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
		mc-heading-level: 1;
		page-break-before: always;
		text-align: right;
	}

	p.ManualTitle1
	{
		font-family: 'Century Gothic';
		font-size: 9pt;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 2.00in;
	}

	p.ManualTitle2
	{
		font-size: 22pt;
		line-height: 0;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 0;
		font-family: Calibri;
		color: #ff8c00;
	}

	p.ManualVersionNumber
	{
		color: #b3b3b3;
		font-family: 'Century Gothic';
		font-size: 12pt;
		margin-left: 1in;
		margin-top: 12pt;
	}

	p.MiniTOC1
	{
		color: #e1e1e1;
		font-size: 9pt;
		font-weight: normal;
	}

	p.TableCaption
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: TableNum;
		mc-auto-number-format: 'CT:Table {chapnum}-{n+} ';
		padding-bottom: 0;
		padding-top: 12px;
	}

	p.TOC1
	{
		font-size: 12pt;
		margin-bottom: 6px;
		margin-top: 12px;
		mc-leader-format: 'none';
		mc-pagenum-display: none;
		page-break-after: avoid;
		font-weight: bold;
		font-style: normal;
		font-family: Calibri;
		color: #ff8c00;
	}

	p.TOC2
	{
		font-size: 10pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.25in;
		margin-top: 2px;
		color: #000000;
	}

	p.TOC3
	{
		font-size: 8pt;
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.35in;
		margin-top: 2px;
		color: #000000;
	}

	p.TOC4
	{
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-left: 0;
		margin-top: 12px;
		color: #000000;
	}

	p.TOCHeading
	{
		letter-spacing: -1px;
		line-height: 92pt;
		margin: 0;
		mc-heading-level: 0;
		text-align: center;
		font-size: 36pt;
		font-weight: bold;
		font-style: normal;
		font-family: Calibri;
		color: #ff8c00;
	}

	span.ChapAutoNum
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		letter-spacing: -1px;
	}

	span.FigureNum
	{
		color: #bed230;
		font-style: normal;
	}

	span.TableNum
	{
		color: #bed230;
		font-style: normal;
	}

	tr
	{
		page-break-inside: avoid;
	}

	ul
	{
		list-style-image: url('../Images/Misc/Bullet1Print.eps');
		font-size: 11pt;
		font-family: Calibri;
		color: #000000;
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: url('../Images/Misc/Bullet1Print.eps');
		margin-left: 30px;
	}

	ul.SecondLevel
	{
		list-style-image: url('../Images/Misc/Bullet2Print.eps');
		margin-left: 30px;
	}

	p.TOC5
	{
		color: #000000;
	}

	h1.ChapterHeading
	{
		background-color: transparent;
		border-bottom: none;
		line-height: 24pt;
		margin-bottom: 20px;
		margin-left: 0;
		mc-auto-number-class: ChapAutoNum;
		padding-left: 0px;
		padding-top: 0px;
		font-family: Calibri;
		mc-auto-number-format: 'CH: {chapnum} - ';
		font-weight: bold;
		font-style: normal;
		color: #000000;
		font-size: 36pt;
	}

	li
	{
		
	}

	span.Button
	{
		border-radius: 3px;
	}

	span.Button:before
	{
		content: ' ';
	}

	span.Button:after
	{
		content: ' ';
	}
}

p.ListNumber3
{
	display: list-item;
	list-style-type: decimal;
	list-style-position: outside;
}

span.Button
{
	background-color: #67a3c7;
	color: #ffffff;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 0px;
	border-radius: 3px;
}

span.Function
{
	font-style: italic;
	font-weight: bold;
}

span.Field
{
	font-weight: bold;
}

p.ListNumber4
{
	display: list-item;
	list-style-type: decimal;
	margin-left: 48px;
	list-style-position: outside;
}

p.ListContinue3
{
	margin-left: 36px;
}

@media non-print
{
	h1
	{
		
	}

	span.Button
	{
		float: none;
	}
}

