/*<meta />*/

@import url('OnlineHelp.css') print;

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

h2
{
	
}

p.TOC3
{
	font-size: 0px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

@media print
{
	h2
	{
		mc-auto-number-position: none;
		margin-right: 0;
		margin-left: 0;
		font-size: 16pt;
		mc-auto-number-format: ' ';
		mc-auto-number-offset: ;
		margin-bottom: 3pt;
	}

	h1
	{
		mc-auto-number-position: none;
		margin-right: 0;
		margin-left: 0;
		page-break-before: avoid;
		mc-auto-number-format: ' ';
		mc-auto-number-offset: ;
		margin-top: 12pt;
		margin-bottom: 3pt;
	}

	p.Body
	{
		margin-left: 0;
	}

	h3
	{
		mc-auto-number-position: none;
		margin-left: 0;
		margin-bottom: 3pt;
	}

	ul
	{
		margin-left: 0px;
	}

	p
	{
		margin-left: 0;
		margin-bottom: 6pt;
		margin-top: 0pt;
	}

	p.TOC3
	{
		line-height: 1.15;
		margin-bottom: 6pt;
		margin-top: 0pt;
	}
}

