/*<meta />*/

/* Stylesheet for modfiying tripane skin properties */

@import url('latostyle.css');

@import url('latofonts.css');

div.search-filter-content
{
	box-shadow: 1px 1px 9px rgba(0,0,0,0.4);
	border: solid 1px #FFFFFF;
	border-radius: 0px;
}

.tree-node.tree-node-leaf > div,
.web .tree-node.tree-node-leaf > div:hover,
.tree-node.tree-node-leaf.tree-node-selected > div,
.web .tree-node.tree-node-leaf.tree-node-selected > div:hover
/* Adjust position of icon on topic TOC entries */ 
{
	background-position: 0px -3px;
}

.tree-node.tree-node-expanded.tree-node-selected > div,
.tree-node.tree-node-collapsed.tree-node-selected > div,
.web .tree-node.tree-node-expanded.tree-node-selected > div:hover,
.web .tree-node.tree-node-collapsed.tree-node-selected > div:hover
/* Adjust position of icon on book TOC entries */ 
{
	background-position: 0px 0px;
}

button.button:hover
{
	background-color: #6DB2E6;
	border-color: #6DB2E6;
}

button.next-topic-button:hover
{
	background-image: url(C:/temp/arrow-r.svg);
}

button.e-mail-button:hover
{
	background-image: url('../../../Content/Resources/Images/COINS Graphics/SVG button PNGs/mail-hover.png');
}

button.logout-button:hover
{
	background-image: url('../../../Content/Resources/Images/COINS Graphics/SVG button PNGs/Exit-hover.png');
}

button.remove-highlight-button:hover
{
	background-image: url('../../../Content/Resources/Images/COINS Graphics/SVG button PNGs/clearhighlight-hover.png');
}

button.print-button:hover
{
	background-image: url('../../../Content/Resources/Images/COINS Graphics/SVG button PNGs/print-hover.png');
}

button.previous-topic-button:hover
{
	background-image: url('../../../Content/Resources/Images/COINS Graphics/SVG button PNGs/prev-hover.png');
}

button.next-topic-button:hover
{
	background-image: url('../../../Content/Resources/Images/COINS Graphics/SVG button PNGs/next-hover.png');
}

.tree-node.tree-node-collapsed.tree-node-selected > div	/*n*/
{
	
}

.tree-node.tree-node-expanded.tree-node-selected > div	/*c*/
{
	
}

