/*<meta />*/

ol ol ol
{
	
}

ol ul
{
	
}

ul ul ul
{
	margin: 0;
	margin-left: 22pt;
}

p
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
	margin-left: 0.5in;
}

ul
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
	margin-left: 0.5in;
}

li
{
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 12pt;
	margin-bottom: 6pt;
}

td
{
	margin-bottom: 10pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

p.Footer
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.p_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #97999B;
}

span.span_1
{
	font-weight: bold;
	color: #F37321;
	font-size: 28pt;
}

p.p_2
{
	border-bottom-style: solid;
	border-bottom-width: 2pt;
	border-bottom-color: #97999B;
}

p.p_3
{
	margin-bottom: 0pt;
	color: #525052;
	font-size: 12pt;
}

td.td_1
{
	background-color: #auto;
}

span.span_2
{
	color: #525052;
	font-size: 12pt;
}

p.p_4
{
	margin-bottom: 0pt;
}

table.table_1
{
	margin-left: 10pt;
	border-collapse: collapse;
}

span.span_3
{
	font-weight: bold;
}

p.p_5
{
	margin-top: 6pt;
	margin-bottom: 0pt;
	text-align: center;
}

p.p_6
{
	margin-bottom: 0pt;
	text-align: center;
	font-style: italic;
}

p.p_7
{
	margin-bottom: 0pt;
	text-align: center;
}

td.td_2
{
	background-color: #auto;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #525052;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #525052;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #525052;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #525052;
}

table.table_2
{
	margin-left: 5pt;
	border-collapse: collapse;
}

h1.TOCHeading
{
	margin-left: 0pt;
	font-weight: bold;
	color: #525052;
	font-size: 24pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	mc-heading-level: 10;
	font-family: Calibri;
}

p.TOC1
{
	page-break-after: avoid;
	margin-top: 10pt;
	margin-bottom: 6pt;
	font-family: Calibri;
	font-weight: bold;
	color: #525052;
	font-size: 12pt;
}

h1.Heading1
{
	margin-bottom: 10pt;
	margin-top: 24pt;
	margin-left: 0pt;
	mc-heading-level: 1;
	font-family: Calibri;
	font-weight: bold;
	color: #525052;
	font-size: 24pt;
}

p.Body
{
	font-size: 11pt;
	margin-top: 12pt;
	margin-bottom: 4pt;
	margin-left: 36pt;
	font-family: Calibri;
}

span.span_4
{
	margin-right: 0pt;
}

p.ListNumber3
{
	margin-bottom: 10pt;
	font-size: 11pt;
	margin-left: 54pt;
	font-family: Calibri;
}

MadCap|xref.ParaTextOnly
{
	mc-format: '{paratext}';
}

span.span_5
{
	font-weight: bold;
	font-style: italic;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 0.75in;
}

p.Caption
{
	margin-bottom: 10pt;
	page-break-after: avoid;
	text-align: center;
	font-family: Calibri;
	font-weight: bold;
	color: #F37321;
	font-size: 10pt;
}

p.ListBullet5
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
	border-top-style: solid;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-left-style: solid;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-width: 1pt;
}

p.p_8
{
	text-align: center;
}

p.ListBullet5_1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
	list-style-type: disc;
}

ul.ul_1
{
	list-style-type: disc;
	margin-left: 1.00in;
}

p.ListContinue4
{
	font-size: 11pt;
	margin-bottom: 6pt;
	margin-left: 72pt;
	font-family: Calibri;
}

p.ListContinue4_1
{
	font-size: 11pt;
	margin-bottom: 6pt;
	font-family: Calibri;
	margin-left: 0pt;
	text-align: center;
}

p.ListNumber4
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
}

p.ListNumber4_1
{
	margin-bottom: 10pt;
	font-size: 11pt;
	font-family: Calibri;
	margin-left: 0pt;
	text-align: center;
}

img.img_2
{
	z-index: 2;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 9pt;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 9pt;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: right;
	mso-position-horizontal-relative: text;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 112.1pt;
}

img.img_3
{
	z-index: 1;
	visibility: visible;
	mso-wrap-style: square;
	mso-wrap-distance-left: 9pt;
	mso-wrap-distance-top: 0;
	mso-wrap-distance-right: 9pt;
	mso-wrap-distance-bottom: 0;
	mso-position-horizontal: absolute;
	mso-position-horizontal-relative: text;
	mso-position-vertical: absolute;
	mso-position-vertical-relative: text;
	margin-left: 394pt;
}

p.p_9
{
	margin-left: 5pt;
	margin-right: 0pt;
}

p.p_10
{
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #97999B;
	margin-right: -17pt;
}

ol ul
{
	left: 0pt;
	margin-left: 36pt;
}

@media print
{
	ol ul
	{
		color: #000000;
		text-indent: 0pt;
		margin-left: 18pt;
	}

	ol ol
	{
		margin-left: 22pt;
	}

	ol > li::marker
	{
		margin-left: 0pt;
	}

	ol ol ol
	{
		margin: 0;
		margin-left: 18pt;
	}

	li
	{
		margin-left: 22pt;
	}

	li::marker
	{
		margin-left: 24pt;
	}

	ul ul ul
	{
		margin: 0;
		margin-left: 12pt;
	}

	ul ul
	{
		margin-left: 12pt;
	}

	ul ol
	{
		margin-left: 22pt;
	}
}

ol ol
{
	margin-left: 22pt;
	list-style-type: lower-alpha;
}

ol.MultiLevelNumbers
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: decimal;
}

ol.MultiLevelNumbers > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: decimal;
}

ul.MultiLevelBullets
{
	
}

ol.MultiLevelSmallLetters
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelSmallLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: lower-alpha;
}

ol.MultiLevelCapLetters
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelCapLetters > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol
{
	list-style-type: upper-alpha;
}

ol.MultiLevelNumbers > li > ol > li::marker
{
	padding-left: 0pt;
	padding-top: 0pt;
	margin-left: 1px;
}

ol.MultiLevelSmallLetters > li > ol > li::marker
{
	margin-top: 0pt;
	margin-right: 0pt;
}

li::marker
{
	margin-left: 1px;
	margin-top: 12pt;
	margin-bottom: 6pt;
}

ol.MultiLevel
{
	list-style-type: decimal;
	margin-left: 26pt;
	padding-left: 26pt;
	margin-bottom: 6pt;
	margin-top: 12pt;
	list-style-image: none;
}

ol.MultiLevel > li::marker
{
	margin-left: 36pt;
	margin-top: 12pt;
	margin-bottom: 6pt;
	content: counter(MultiLevel) '.';
}

ol.MultiLevel > li > ol
{
	list-style-type: lower-alpha;
	margin-top: 12pt;
	margin-bottom: 6pt;
	list-style-image: none;
}

ol.MultiLevel > li > ol > li::marker
{
	margin-bottom: 12pt;
	margin-top: 12pt;
	content: counter(MultiLevel) '.';
}

ol.MultiLevel > li > ol > li > ul
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	list-style-type: disc;
}

ol.MultiLevel > li > ol > li > ul > li::marker
{
	margin-top: 12pt;
	margin-bottom: 6pt;
	content: ;
}

ol.MultiLevel > li > ol > li > ul > li > ol
{
	list-style-type: lower-roman;
}

ol.MultiLevel > li > ol > li > ul > li > ol > li > ol
{
	list-style-type: decimal;
	list-style-image: none;
}

ol.MultiLevel > li > ol > li > ul > li > ol > li > ol > li::marker
{
	content: counter(MultiLevel) ')';
}

