/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: COINSBasic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #97999b;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #97999b;
	max-id: 3;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #97999b;
	name: Column1;
	id: 0;
	type: Automatic;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #97999b;
	cell-content-style-tag: p;
	cell-content-style-class: TableHeader;
	color: #ffffff;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
	type: Automatic;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #97999b;
	name: Footer1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: TableCell;
}


/* Cell Styles: */
 
.TableStyle-COINSBasic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #97999b;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #97999b;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #97999b;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #97999b;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-COINSBasic-Column-Column1
{
	
}

.TableStyle-COINSBasic-Head-Header1
{
	
}

.TableStyle-COINSBasic-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
}

.TableStyle-COINSBasic-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-COINSBasic-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-COINSBasic-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
}

.TableStyle-COINSBasic-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-COINSBasic-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
}

.TableStyle-COINSBasic-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
}

.TableStyle-COINSBasic-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
}

.TableStyle-COINSBasic-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	font-weight: bold;
	background-color: #97999b;
}

.TableStyle-COINSBasic-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-COINSBasic-Foot-Footer1
{
	
}

.TableStyle-COINSBasic-FootI-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-FootI-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootE-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-COINSBasic-FootE-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootF-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-COINSBasic-FootF-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootH-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINSBasic-FootH-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootD-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-color: #97999b;
	border-top-style: solid;
}

.TableStyle-COINSBasic-FootD-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootC-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-FootC-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootB-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINSBasic-FootB-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootA-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-FootA-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-FootG-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-FootG-Column1-Footer1 p
{
	
}

.TableStyle-COINSBasic-Body-Body1
{
	
}

.TableStyle-COINSBasic-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-BodyI-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINSBasic-BodyE-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-COINSBasic-BodyF-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINSBasic-BodyH-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-COINSBasic-BodyD-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-BodyC-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #97999b;
	border-right-style: solid;
}

.TableStyle-COINSBasic-BodyB-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-BodyA-Column1-Body1 p
{
	
}

.TableStyle-COINSBasic-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-COINSBasic-BodyG-Column1-Body1 p
{
	
}


